<% content_for :head do %>
    <meta property="og:title" content="<%= current_article.title %>">
    <meta property="og:type" content="music.song">
    <meta property="og:image" content="<%= image_url 'cover-500.jpg' %>">
    <meta property="og:image:width" content="500">
    <meta property="og:image:height" content="500">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:url" content="<%= root_url.to_s + current_article.url %>">
    <meta property="og:description" content="<%= strip_tags current_article.summary %>">
    <meta property="twitter:card" content="player">
    <meta property="twitter:title" content="<%= current_article.title %>">
    <meta property="twitter:description" content="<%= strip_tags current_article.summary %>">
    <meta property="twitter:player" content="<%= h soundcloud_twitter_player_url(current_article.data.soundcloud_url) %>">
    <meta property="twitter:image" content="<%= image_url 'cover-500.jpg' %>">
    <meta property="twitter:player:height" content="400">
    <meta property="twitter:player:width" content="435">
<% end %>

<% wrap_layout :layout do %>
  <%
    if current_article.data.women_in_tech
      cover = 'cover-women.jpg'
      icon  = 'zadevchat-women.png'
    else
      cover = 'cover-narrow.png'
      icon  = 'zadevchat.png'
    end
  %>
  <header id="site-head" style="background-image: url(<%= image_path cover %>)" class="site-head post-2">
  	<div class="vertical">
  		<div role='banner' class="header_typesome">
        <a class="logo--speech-bubble" href="/">
          <img src="<%= image_path icon %>" alt="The ZADevChat Podcast" />
        </a>
  			<h1 class="blogtitle_typesome">
        <a title="ZADevChat" href='/'>
          <%= current_article.title %>
  			</a>
  			</h1>
  		</div>
  	</div>
  </header>

  <main class="main_typesome" role="main">
  <hr class="pause remove" />

	  <article class="article_typesome">

		<header class="postheader_typesome">
			<ul>
        <li><time class="date_typesome"><%= current_article.date.strftime("%A %e %b %Y") %></time></li>
        <%- tags = current_article.tags %>
        <% if tags.any? %>
				<li class="posttags_typesome"><%= tags.join(' | ') %></li>
        <% end %>
			</ul>

      <!-- <h1 class="posttitle_typesome"><%= current_article.title %></h1> -->
		</header>

		<div class="postcontent_typesome">
      <%= soundcloud_embed_large(current_article.data.soundcloud_url) %>

        <% if current_article.data.sponsor_banner %>
            <div class="sponsored-episode-banner">
                <% link_to current_article.data.sponsor_url, target: "_blank" do %>
                    <%= image_tag current_article.data.sponsor_banner, alt: current_article.data.sponsor_alt %>
                <% end %>
            </div>
        <% end %>

      <%= yield %>

      <% if picks = data.picks[ current_article.data.episode ] %>
        <h3>Picks</h3>

        <%= partial :picks_by_guest, locals: { picks: picks } %>
      <% end %>

      <p>Thanks for listening!</p>

      <p>
          See all past picks on <%= link_to "our picks page", "/picks.html" %>.
      </p>

      <%= partial :newsletter %>
		</div>

		<div class="back_typesome">
			<p class="go-back"><a class="fa fa-long-arrow-left" href="/"><span>Back</span></a></p>
      <p class="nav"><a class="fa fa-long-arrow-up" href="<%= current_article.url %>"><span>Back to top</span></a></p>
		</div>


    <footer class="postfooter_typesome">

      <div class="authorimage_typesome" style="background-image: url(<%= image_path 'zadevchat.png' %>)"></div>
			<div class="author_typesome">
				<ul>
					<li><h4 class="authorname_typesome"><a href="/"><%= current_article.data.hosts.to_sentence %></a></h4></li>
					<li><h5 class="authordata_typesome">Johannesburg, South Africa</h5></li>
				</ul>
        <p class="authorbio_typesome">
          A weekly panel discussion with topics around the South African software developer community.
        </p>
			</div>

		  <section class="sharepost_typesome">
				<h4>Share this:</h4>
        <a class="fa fa-twitter-square" target="_blank" href="http://twitter.com/share?text=<%= current_article.title %>&url=http://zadevchat.io<%= current_article.url %>"><span class="hidden_typesome">Twitter</span></a>
        <a class="fa fa-facebook-square" target="_blank" href="http://www.facebook.com/sharer.php?u=http://zadevchat.io<%= current_article.url %>"><span class="hidden_typesome">Facebook</span></a>
        <a class="fa fa-google-plus-square" target="_blank" href="https://plus.google.com/share?url=http://zadevchat.io<%= current_article.url %>"><span class="hidden_typesome">Google+</span></a>

    	</section>

		</footer>
	</article>


	<div class="disqusbox_typesome">
    <%= disqus %>
  </div>

<% end %>
